:root {
  --primary: #503e9d;
  --secondary: #fdcb21;
  --primary-alt: #e3dbff;
  --secondary-alt: #f2cb5a;
  --background: #ffffff;
  --surface: #f8f8f8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
