.container {
  width: 100%;
  height: calc(100vh - 224px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;
  background-color: var(--background);
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  row-gap: 12px;
}

.scheduleCard {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface);
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
}

.actionsContainer{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0px;
}
